
.navbar {
    background-color: #9D79BC;
}
.bold {
    font-weight: bold;
}
.footer {
    padding-top:5px;
    background-color: #7E1F86;
    color: white;
}
.animation-padding {
    padding-left: 100px;
    padding-top: 10px;
}
.brand-padding {
    padding-left: 10px;
}