body {
    font-family: Fredoka;
}

h1, h2, h3, h4, h5, th {
    font-family: Fredoka One;
}

.navbar {
    background-color: #9D79BC;
}
.bold {
    font-weight: bold;
}
.footer {
    padding-top:5px;
    background-color: #7E1F86;
    color: white;
}
