body {
    font-family: Fredoka;
}

h1, h2, h3, h4, h5, th {
    font-family: Fredoka One;
}

.navbar {
    background-color: #9D79BC;
}
.bold {
    font-weight: bold;
}
.footer {
    padding-top:5px;
    background-color: #7E1F86;
    color: white;
}
.animation-padding {
    padding-left: 100px;
    padding-top: 10px;
}
.jumbotron-margin {
    margin-top: 150px;
}
.mainpage-color2 {
    color:#8CA0D7
}
.mainpage-color1 {
    color:#7E1F86
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.jumbotron-margin {
    margin-top: 150px;
}
